<% content_for :title do %>
    thesp[EE]
<% end %>

<% content_for :head do %>
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
<% end %>


<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Thesp [EE]</h1>
    <h3>Do one thing for your acting every single day...</h3>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
<div class="row spacer span12 plans">
  <div class="span3 well">
    <div class="plan"><h2>Monthly</h2></div>
    <ul class="unstyled">
      <li>You get full access to Thesp[ee] reviews</li>
    </ul>
    <h5>One Month For:</h5>
    <h1>$6</h1>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'monthly'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span3 well featured">
    <div class="plan featured-plan"><h2>Quarterly</h2></div>
    <ul class="unstyled">
      <li>You get full access to Thesp[ee] reviews</li>
    </ul>
    <h5>Three Months For:</h5>
    <h1>$15</h1>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'quarterly'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span3 well">
    <div class="plan"><h2>Yearly</h2></div>
    <ul class="unstyled">
      <li>You get full access to Thesp[ee] reviews</li>
    </ul>
    <h5>Twelve Months For:</h5>
    <h1>$60</h1>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'yearly'), :class => 'btn btn-primary' %> 
  </div>
</div>

<div class="row spacer span12">
    <div class="span5">
      <h3>Verified, True</h3>
      <p align="justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span5">
      <h3>The Latest</h3>
      <p align="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
<hr>
<footer>
  <div class="row spacer span12">
    <div class="span3">
      <h4>
        <i class="icon-group icon-large"></i>Users
      </h4>
      <% @users.each do |user| %>
          <p>User: <%=link_to user.name, user %></p>
      <% end %>
   </div>
  </div>
</footer>

</div> <!-- /container -->
