<div id="welcome" class="hero-unit span7">
  <h1>Thesp[ee]</h1>
  <h3>Do one thing for your acting everyday</h3>
</div>
<div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Monthly</h2></div>
    <ul class="unstyled">
      <li>You get full access to Thesp[ee] reviews</li>
    </ul>
    <h5>One Month For:</h5>
    <h1>$6</h1>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'monthly'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Quarterly</h2></div>
    <ul class="unstyled">
      <li>You get full access to Thesp[ee] reviews</li>
    </ul>
    <h5>Three Months For:</h5>
    <h1>$15</h1>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'quarterly'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Yearly</h2></div>
    <ul class="unstyled">
      <li>You get full access to Thesp[ee] reviews</li>
    </ul>
    <h5>Twelve Months For:</h5>
    <h1>$60</h1>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'yearly'), :class => 'btn btn-primary' %> 
  </div>
</div>